* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Kanit", sans-serif; */
  font-family: "Oxygen", sans-serif;
}
body {
  background-color: #1b1b1b;
}
.create-form,
.update-form {
  width: 30%;
  height: 100vh;
  padding: 65px 50px;
  background-color: #424242;
  position: fixed;
  align-self: flex-start;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: white;
}

.section-title {
  font-weight: 200;
}
input {
  width: 100%;
  height: 50px;
  text-indent: 20px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: transparent;
  color: white;
}
::placeholder {
  color: rgb(194, 194, 194);
}
.form-btn {
  align-self: flex-start;
  padding: 15px 40px;
  background-color: #16709b;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.header {
  width: 90%;
  height: 60px;
  /* background-color: white; */
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.page-title {
  font-weight: 200;
  color: white;
  font-size: 35px;
}
.btn {
  /* width: 10%; */
  padding: 0 20px;
  background-color: #16709b;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}
.display {
  width: 90%;
  padding: 20px;
  /* background-color: gray; */
  margin-top: 30px;
  display: flex;
  column-gap: calc(12% / 3);
  flex-wrap: wrap;
  row-gap: 30px;
}
.superhero {
  width: 22%;
  background-color: #272727;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}
.super-img {
  width: 100%;
  height: 250px;
  background-color: red;
  overflow: hidden;
}
img {
  width: 100%;
}
.super-details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.name {
  font-size: 30px;
  font-weight: 200;
}
.planet {
  font-weight: 300;
}
.powerstats {
  width: 100%;
  /* background-color: darkgray; */
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.full {
  background-color: white;
  width: 100%;
  height: 12px;
  margin-top: 5px;
  border-radius: 5px;
}
.strength {
  background-color: #c94c4c;
  height: 12px;
  border-radius: 5px;
}

.intelligence {
  background-color: #6eaac3;
  height: 12px;
  border-radius: 5px;
}
.actions {
  width: 100%;
  display: flex;
  column-gap: 15px;
}
.actions > i {
  font-size: 20px;
  cursor: pointer;
}

.update {
  color: white;
}
.delete {
  color: #c94c4c;
}
.cross {
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 25px;
  cursor: pointer;
}
